<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index {{.path}} - {{.sitename}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <style>
        html,body{
            font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
        }
    </style>
</head>
<body>
    <div style="height: 1em;"></div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="bi bi-hdd-fill"></i>
                {{.sitename}}
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Last Modified</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{- $path := .urlpath}}
                    {{- if .uppath }}
                    <tr>
                        <td>
                            <i class="bi bi-arrow-90deg-up"></i>
                            <a href="{{ .uppath }}"> .. </a>
                        </td>
                        <td> - </td>
                        <td> - </td>
                        <td></td>
                    </tr>
                    {{- end}}
                    {{- range .infos}}
                    <tr>
                        <td>
                            {{- if .IsDir}}
                            <i class="bi bi-folder-fill"></i>
                            {{- else}}
                            <i class="bi bi-file-earmark"></i>
                            {{- end}}
                            <a href="{{ $path }}/{{.Name}}">{{.Name}}</a>
                        </td>
                        <td>{{.Size}}</td>
                        <td>{{.LastMod}}</td>
                        <td>{{.TimeAgo}}</td>
                    </tr>
                    {{- end}}
                </tbody>
            </table>
            {{- if .markdown}}
            <div class="panel-body">
                <div class="markdown-body">
                {{- htmlSafe .markdown}}
                </div>
            </div>
            {{- end}}
            <div class="panel-footer">
                &copy; Copyright {{.since}} {{.author}}.
                Powered By <a href="https://github.com/zjyl1994/webls">Webls</a>.
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>